*{
  padding: 0;  
  margin: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor{
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin: auto;
}
.slider-contenedor{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.slider-test{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
